$gray1: #f0f0f0;
$gray2: #8c8c8c;
$gray3: #1d1d1f;
$red: #b50000;

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 25rem));
  justify-content: center;

  .main {
    background-color: $gray3;
    border-radius: 10px;
    color: $gray1;
    margin: 1rem 1rem 4rem 1rem;
    padding: 3rem;
    max-width: 100%;
    text-align: left;
  }

  .projectTitle {
    letter-spacing: 2px;
    margin-bottom: 0;
  }

  .projectLinks {
    margin-bottom: 0;
    a {
      color: $gray1;
    }
  }

  .technologyUsed {
    letter-spacing: 1px;
    font-weight: 500;
    margin-bottom: 0;
  }

  .projectDescription {
    line-height: 1.5;
  }

  .technologies {
    border: $gray1 2px solid;
    border-radius: 5px;
    display: flex;
    margin-top: 2.5rem;
    padding: 0 1rem;
    justify-content: center;
  }

  .technologiesContainer {
    font-size: 0.8rem;
  }
  .list {
    list-style: none;

    &:first-child {
      padding-inline-start: 0.5rem;
    }
  }
}

@media (max-width: 425px) {
  .container {
    .main {
      padding: 2rem;

      .projectTitle {
        font-size: 1.5rem;
        letter-spacing: 0.5;
        margin-top: 0;
      }
      .projectDescription {
        font-size: 0.9rem;
        margin-top: 0;
      }
      .technologies {
        border: 0;
        text-transform: uppercase;
        justify-content: flex-start;
        margin-top: 0;
        margin-bottom: 0;
        padding: 0;

        .technologiesContainer {
          &:first-child {
            ul {
              padding-inline-start: 0;
            }
          }
        }

        li {
          font-size: 0.75rem;
        }
      }
    }
  }
}

@media (max-width: 320px) {
  .container {
    .main {
      .technologies {
        li {
          font-size: 0.7rem;
        }
      }
    }
  }
}
