$gray1: #f0f0f0;
$gray2: #8c8c8c;
$gray3: #1d1d1f;
$red: #b50000;

.container {
  display: grid;
  padding: 0 5rem;
  grid-template-columns: 1fr 0.2fr 1fr;
  grid-template-rows: 0.6fr 1fr 1fr;
  grid-template-areas:
    "...  ... ..."
    "main ... skills"
    "...  ... ...";

  .heading {
    color: $gray3;
  }

  .content {
    color: $gray2;
  }

  .main {
    grid-area: main;

    .mainContent {
      color: $gray2;
    }
  }

  .skills {
    grid-area: skills;

    .skillsList {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "list1 list2";
      list-style-position: inside;
      list-style-type: "▹ ";
      padding-inline-start: 0;
      line-height: 2;
    }
  }
}

@media (max-width: 890px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.55fr 0.5fr 1fr 0.5fr;
    grid-template-areas:
      "..."
      "main"
      "skills"
      "...";
  }
}

@media (max-width: 673px) {
  .container {
    grid-template-rows: 0.3fr 0.5fr 1fr 0.5fr;

    .heading {
      font-weight: 600;
    }
    .content {
      line-height: 1.5;
    }
  }
}

@media (max-width: 544px) {
  .container {
    grid-template-rows: 0.12fr 0.5fr 1fr 0.5fr;
    padding: 1.5rem;

    .skills {
      grid-area: skills;

      .skillsList {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "list1 list2";
        list-style-position: inside;
        list-style-type: "▹ ";
        padding-inline-start: 0;
        line-height: 2;

        li {
          font-size: .9rem;
        }
        li:nth-child(even) {
          padding-left: 1.5rem;
        }
      }
    }
  }
}

@media (max-width: 320px) {
  .container {
    padding: 1rem;
    grid-template-rows: 0.1fr 0.5fr 1fr 0.5fr;

    .skills {
      .heading {
        font-size: 1.9rem;
      }
      .skillsList {
        font-size: 1rem;
        grid-template-columns: 1fr;
        grid-template-areas: "list1" "list2";
      }
    }
  }
}
