$gray1: #f0f0f0;
$gray2: #8c8c8c;
$gray3: #1d1d1f;
$red: #b50000;

.container {
  display: grid;
  padding: 0;
  text-align: center;

  grid-template-columns: 0.5fr 2fr 0.5fr;
  grid-template-rows: 150px 1fr 150px;
  grid-template-areas:
    "...  ... ..."
    "main main main"
    "...  ... ...";

  .heading {
    color: $gray3;
  }

  .content {
    color: $gray2;
  }

  .main {
    grid-area: main;

    .mainContent {
      color: $gray2;
    }
  }
}

@media (max-width: 425px) {
  .container {
    grid-template-rows: 75px 1fr 75px;
  }
}
@media (max-width: 320px) {
  .container {
    grid-template-rows: 65px 1fr 65px;
  }
}
