$gray1: #f0f0f0;
$gray2: #8c8c8c;
$gray3: #1d1d1f;
$red: #b50000;

.navbar {
  border-bottom: 1px solid #c3c3c3;

  .navList {
    display: flex;
    list-style-type: none;
    padding-inline-start: 0px;

    .navItem {
      color: $gray2;
      font-size: 0.9rem;
      margin-right: 1.3rem;
      text-decoration: none;
      position: relative;
    }

    .navItem::before {
      content: "";
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: -5px;
      left: 0;
      background-color: $gray3;
      transform-origin: center;
      transition: transform 0.15s ease-out;
    }

    .navItem:hover::before {
      transform: scaleX(1);
      transform-origin: center;
    }

    .active-nav-item {
      color: $gray3;
    }
  }
}

@media (max-width: 673px) {
  .navbar {
    .navList {
      justify-content: space-around;
      padding-inline-start: 20px;
    }
  }
}
